<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-organization-heading">Create or edit a Organization</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_orgName">Org Name</label>
                    <input type="text" class="form-control" name="orgName" id="field_orgName"
                           formControlName="orgName"/>
                    <div *ngIf="editForm.get('orgName')!.invalid && (editForm.get('orgName')!.dirty || editForm.get('orgName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('orgName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_orgRegNum">Org Reg Num</label>
                    <input type="text" class="form-control" name="orgRegNum" id="field_orgRegNum"
                           formControlName="orgRegNum"/>
                    <div *ngIf="editForm.get('orgRegNum')!.invalid && (editForm.get('orgRegNum')!.dirty || editForm.get('orgRegNum')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('orgRegNum')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
